extends includes/layout

block main
    header.navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="#/")
                    | MEANbeta
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="#/")
                            | Home
                div(data-ng-include="'partials/account/login'")
    section
        div(data-ng-view)

    footer.container
        p.text-center
            | &copy; MEANbeta