doctype
html
    head
        title
            | MEANbeta
        base(href="/")
        link(rel="stylesheet" href="scripts/libs/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="scripts/libs/toastr/toastr.css")
        link(rel="stylesheet" href="style/app.css")
    body(data-ng-app="app")
        block main

        include scripts

        if !!currentUser
            script.
                window.bootstrapedUserObject = !{JSON.stringify(currentUser)}