script(type="text/javascript" src="/scripts/libs/jquery/dist/jquery.js")
script(type="text/javascript" src="/scripts/libs/angular/angular.min.js")
script(type="text/javascript" src="/scripts/libs/angular-resource/angular-resource.js")
script(type="text/javascript" src="/scripts/libs/angular-route/angular-route.js")
script(type="text/javascript" src="/scripts/app.js")