.container
    .row
        .col-md-4
            input.form-control(data-ng-model="search" type="text" placeholder="Search")
        .col-md-4
            select.form-control(data-ng-model="sort")
                option(value="") Order Options
                option(value="name") Title
                option(value="published") Published
    br
    table.table
        tr
            td Title
            td Published
        tr(data-ng-repeat="course in courses | filter: search | orderBy: sort")
            td
                a(href="#/courses/{{ course._id }}") {{ course.name }}
            td {{ course.published | date}}