div.navbar-right(data-ng-controller="LoginCtrl")
    form.navbar-form
        .form-group
            input.form-control(type="text", placeholder="Username" data-ng-model="user.username")
            input.form-control(type="password" placeholder="Password" data-ng-model="user.password")
        button.btn.btn-primary(data-ng-click="login(user)") Login