div.container
    div.well
        form.form-horizontal(name="signUpForm")
            fieldset
                legend
                    | User Registration
                .form-group
                    label.col-md-2.control-label(for="first-name")
                        | First Name
                    .col-md-10
                        input.form-control(type="text" placeholder="First Name" id="first-name" data-ng-model="user.firstName" required)
                .form-group
                    label.col-md-2.control-label(for="last-name")
                        | Last Name
                    .col-md-10
                        input.form-control(type="text" placeholder="Last Name" id="last-name" data-ng-model="user.lastName" required)
                .form-group
                    label.col-md-2.control-label(for="username")
                        | Username
                    .col-md-10
                        input.form-control(type="text" placeholder="Username" id="username" data-ng-model="user.username" required)
                .form-group
                    label.col-md-2.control-label(for="pass")
                        | Password
                    .col-md-10
                        input.form-control(type="password" placeholder="Password" id="pass" data-ng-model="user.password" required)
                .form-group
                    .col-md-10.col-md-offset-2
                        button.btn.btn-success(data-ng-click="register(user)" data-ng-disabled="signUpForm.$invalid " type="submit") Create
                        a.btn.btn-primary(href="#/" type="reset") Cancel